<section>
  <h1>About Me</h1>

  <p>I believe security and privacy are fundamental rights and also our biggest
  challenges in today’s computing environment. I want to push the boundary of
  what’s possible through new research and open source tools that apply
  techniques like symbolic execution, fuzzing, and formal verification to
  large-scale systems that people interact with every day.</p>

  <!-- <p>I am currently ...</p> -->

  <p>I previously worked at <a href="https://www.mozilla.org">Mozilla</a> on
  <a href="https://twitter.com/FirefoxDevTools">developer tools</a> for Firefox
  and Firefox OS.</p>

  <p>I also worked on overhauling the Firefox
  <a href="https://wiki.mozilla.org/Quantum/Stylo">CSS system</a> using
  <a href="https://www.rust-lang.org">Rust</a> and tech from
  <a href="https://servo.org">Servo</a>.</p>

  <p>
  {% if site.twitter_user %}
    {% if site.twitter_follow_button %}
      <a href="https://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
    {% else %}
      <a href="https://twitter.com/{{site.twitter_user}}">Twitter</a>
    {% endif %}
  {% endif %}

  {% if site.github_user %}
    {% if site.github_show_profile_link %}
      <a href="https://github.com/{{site.github_user}}">Github</a>
    {% endif %}
  {% endif %}
  </p>
</section>
