<section>
  <h1>About Me</h1>

  <p>I enjoy building tools as part of a community that empowers domain experts
  to control and modify their digital workflows by tearing down the boundaries
  typically imposed by siloed applications from different vendors.</p>

  <p>I am organising the
  <a href="https://malleable.systems">Malleable Systems Collective</a>,
  a community that catalogs and experiments with malleable software and
  systems.</p>

  <p>I am currently building open, decentralized, secure communications for all
  via <a href="https://matrix.org">Matrix</a> at
  <a href="https://element.io">Element</a> in London, UK.</p>

  <p>I previously worked at <a href="https://www.mozilla.org">Mozilla</a> on
  <a href="https://twitter.com/FirefoxDevTools">developer tools</a> for Firefox
  and Firefox OS.</p>

  <p>I also worked on overhauling the Firefox
  <a href="https://wiki.mozilla.org/Quantum/Stylo">CSS system</a> using
  <a href="https://www.rust-lang.org">Rust</a> and tech from
  <a href="https://servo.org">Servo</a>.</p>

  <p>

  <a href="{{ site.subscribe_rss }}"><i class="fas fa-rss fa-2x" title="RSS"></i></a>

  {% if site.twitter_user %}
    {% if site.twitter_follow_button %}
      <a href="https://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
    {% else %}
      <a href="https://twitter.com/{{site.twitter_user}}"><i class="fab fa-twitter fa-2x" title="Twitter"></i></a>
    {% endif %}
  {% endif %}

  {% if site.github_user %}
    {% if site.github_show_profile_link %}
      <a href="https://github.com/{{site.github_user}}"><i class="fab fa-github fa-2x" title="GitHub"></i></a>
    {% endif %}
  {% endif %}
  </p>
</section>
