.home-info {
  margin-top: 0;
  margin-bottom: var(--gap);
}

.home-info img {
  border-radius: 100px;
  margin-bottom: var(--gap);
}

.home-info p {
  margin-bottom: 0.5em;
}

.home-info .entry-content {
  margin-bottom: 0;
}

.entry-content {
  -webkit-line-clamp: 3;
}

.post-content .highlight pre {
  border-radius: var(--radius);
}
