{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <img src="avatar.jpg" width="200"/>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>

{{/* JRS: A place to add extra content with low risk of theme conflicts */}}

{{ with $.Site.Data.communities }}
<h2>Communities</h2>
<div class="blocks">
    {{ range . }}
        {{ partial "community.html" . }}
    {{ end }}
</div>
{{ end }}

<h2>Notes and Talks</h2>
<div class="spacer"></div>
{{- end -}}
