// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: $page-bg image-url('noise.png') top left;
}

body > header {
  background: $header-bg image-url('noise.png') top left;
}

body > footer {
  background: $footer-bg image-url('noise.png') top left;
  text-shadow: none;
  border-top: 0;
}

#disqus_thread {
  color: $sidebar-color;
  font-family: $sans;
}

aside.sidebar:hover a {
  color: inherit;
}

// Navigation

body > nav {
  display: flex;
  align-items: center;

  .main-navigation {
    display: block;
    flex: 1;
    @include horizontal-list(0);
    li {
      margin: 0;
    }
    a {
      @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
      @extend .sans;
      text-shadow: lighten($nav-bg, 12) 0 1px;
      float: left;
      text-decoration: none;
      font-size: 1.1em;
      padding: .1em 0;
      line-height: 1.5em;
    }
    li + li {
      border-left: 1px solid $nav-border-left;
      margin-left: .8em;
      a {
        padding-left: .8em;
        border-left: 1px solid $nav-border-right;
      }
    }
  }

  form {
    float: none;
    display: none;
    @media only screen and (min-width: 550px) {
      display: block;
    }
  }

  ul.subscription {
    float: none;
    padding-top: 0;
  }
}

.maskImage ul.subscription {
  position: initial;
  top: initial;
}

fieldset.mobile-nav {
  display: none !important;
}

// CV
.section {
  margin: 1.25em 0 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.lr {
  display: flex;
}
.lr > *:first-child {
  flex: 1;
}
.row {
  margin: 0.5em 0;
}
.pri {
  font-weight: bold;
}
.sec {
  font-size: 80%;
}
